$fontTitle: "SB Sans Display";
$fontText: "SB Sans Text";

$backgroundBlue: #2760ec;
$backgroundMain: #080808;
$backgroundPurple: #944bd6;
$backgroundYellow: #b7d521;

$colorTitle: rgba(255, 255, 255, 0.96);
$colorSubtitle: rgba(255, 255, 255, 0.56);
$backgroundBtn: rgba(255, 255, 255, 0.12);
